next.config.js

/src/app/(userRoutes)/athlete
/src/app/(userRoutes)/coach
/src/app/(userRoutes)/profile
/src/app/(userRoutes)/teams
/src/app/components
/src/app/layout.tsx


/src/components/_complex

/src/utils/_old

/src/services/_readiness
/src/services/_user
/src/services/_movements

/src/graphQL/generated/*.*

/amplify/*